body{
    background-image: url("https://cdn.glitch.global/8bafe85c-520d-4576-84c9-31a67c39be5e/vac1.jpg?v=1657204952348");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: antiquewhite;
  background-position: center;
  min-height:100vh;
}

.heading{
    display: flex;
    justify-content: center;
}

h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 62px;
    margin-top: 60px;
  text-align: center;
}



button{
    margin-left: 100px;
    border: none;
    background-color: transparent;
    font-size: 50px;
}

.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.block{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time{
    margin-top: 100px;  
    font-family: 'Permanent Marker', cursive;
    background-color: rgba(243, 233, 233, 0.5);
   height: 300px;
    width: 200px; 
}

h3, h4{
    margin-top: 60px;
    font-size: 30px;
    color: #fff;
    text-align: center;
   
}

.days, .hours, .minutes, .seconds{

    font-size: 50px;
    font-family: 'Patua One', cursive;
font-style: italic;
}

.headingChanged{
color: #FDFF8F;
}